<div class="d-flex">
  <h1 class="mx-auto">What is Bookworm?</h1>
</div>

<div style="background-color:#3b5998; color:white">
  <p class="mx-2">Bookworm is a low cost platform used to host your school's read-a-thon. While other companies take 
  20%-25% of the total funds you receive, we take a low 3% that is used only to cover credit card fees.</p>

  <p class="mx-2">Your students commit to reading during the read-a-thon and ask for donations from the community to support 
  them through it. Readers can build their personal pages and share it with family and friends who can donate directly to their page.</p>
</div>

<hr />

<div class="d-flex">
  <h1 class="mx-auto">How Bookworm Works</h1>
</div>