<div class="hp-kids">
  <div class="hp-fade">
    <div style="padding:0 0 25px 0;" align="center"><img src="/logo.png" class="hp-logo" height=30% width=30%></div>
    <div class="hp-headline">Some catchy headline here</div>
    <div align="center">
        <a href="/dashboard/calculator/"><button type="button" class="btn btn-primary btn-lg mt-4">How much could you raise?</button></a>
    </div>
  </div>
</div>
