<h1>Ready to end your read-a-thon?</h1>

<p>Supporters will be able to donate for the next 10 days after you end your Read-a-thon. 
Once the 10 day period is up, all donations will be closed to initiate payment to your group. 
We will then send you the first of two checks for the money due your group. The first check will 
be for 80% of your money and it will be sent 10 days after you click End. The remaining 20% will be 
sent 30 days after you click End to account for potential credit card charge backs or bad checks.</p>