<% student = Student.where(id: params[:student_id]).first %>
<div>We are sorry to see you cancel your donation. If this was done in accident, please return to <%= student.name %>'s page and try again</div>
<a href="/students/<%=student.id%>%">Link</a>