<% student = Student.where(id: params[:student_id]).first %>
<div>Thank you for donating to <%= student.name %>. We have begun to process your payment and will complete it soon. Follow this link to return to <%= student.name %>'s page.</div>
<a href="/students/<%=student.id%>%">Link</a>