<h1>Promote Your Fundraiser</h1>

<div class="mt-9 mb-9 mx-6">
  <div class="row">
    <div class="col-lg-3 col-6">
      <div class="card border-dark mx-6 mb-6">
        <div class="card-img-top">
          <a href="https://www.facebook.com/sharer/sharer.php?u="><i class="fab fa-facebook-square"></i></a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Facebook</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <div class="card border-dark mx-6 mb-6">
        <div class="card-img-top">
          <a href="https://twitter.com/intent/tweet?text="><i class="fab fa-twitter-square"></i></a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Twitter</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <div class="card border-dark mx-6 mb-6">
        <div class="card-img-top">
          <a href="http://www.linkedin.com/shareArticle?mini=true&url="><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="card-body">
          <h5 class="card-title">LinkedIn</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <div class="card border-dark mx-6 mb-6">
        <div class="card-img-top">
          <a href="mailto:?subject=<%= @teacher.school.name %> Read-a-Thon Fundraiser&body=Would you consider supporting me?"><i class="fas fa-envelope"></i></a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Email</h5>
        </div>
      </div>
    </div>
  </div>
</div>