/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "font-awesome";
 @import "bootstrap";

p {
  margin: 0;
  padding: 0;
}

h2 {font-size:1.5rem;}
 
@media (min-width: 544px) {  
  h2 {font-size:1.8rem;}
}

@media (min-width: 768px) {  
  h2 {font-size:2rem;}
}

//Keeps expanded navbar open when screen is smaller
@media (max-width: 768px) {
  .navbar-collapse.collapse.in { 
      display: block!important;
  }
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.social-share {
  margin-bottom: 26px;
  margin-bottom:1.625rem
}

.social-share ul, .social-share li {
  margin: 0;
  padding: 0;
  list-style:none
}

.social-share li {
  display:inline-block
}

.social-share .facebook {
  background:#3b5998
}

.social-share .twitter {
  background: #55acee;
}

.social-share .email {
  background: grey
}

.social-share a {
  display: block;
  padding: 8px 20px;
  text-decoration: none !important;
  text-transform: uppercase;
  font-size: 14px;
  font-size: .875rem;
  font-family: pt sans narrow, sans-serif;
  font-weight: 700;
  color: #fff;
  opacity:.8
}

.social-share a:hover {
  opacity:1
}

.social-share span {
  display:none
}

