/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
  *
  */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "actiontext";
 @import "bootstrap-custom";
 @import "cards";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "navbar-custom";
 @import "school";
 @import "snapshot";
 @import "social-share";
 @import "student";
 @import "bootstrap";

 body {
   background-image: url("data:image/svg+xml,%3Csvg width='800' height='700' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23C1EAC5' fill-opacity='0.3' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
   background-color: #F5F7FA;
 }

.bootstrap-info{
  position: fixed;
  top: 0px;
  right: 20px;
  font-size: 10px;
}

 .slider {
  .slider {
   -webkit-appearance: none;
   width: 100%;
   height: 25px;
   background: #d3d3d3;
   outline: none;
   opacity: 0.7;
   -webkit-transition: .2s;
   transition: opacity .2s;
  }
 }

.avatar{
    width: 150px;
    height: 150px;
    -webkit-border-radius: 150px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 150px;
    -moz-background-clip: padding;
    border-radius: 150px;
    background-clip: padding-box;
    background-size: cover;
    background-position: center center;
}

 .hp-headline { font-size:48px; color:#fff; text-shadow: 2px 2px 2px #393939; font-weight:lighter; text-align:center; padding-bottom:500px;}
 .hp-kids { background:url("/students.png") no-repeat; background-size:cover; background-position:center; height:800px;}
 .hp-fade{ background:url("/hp-fade.png") repeat-x; background-size:contain; height:100%; max-height:295px;}
