@import "bootstrap-custom";

.navbar-light .navbar-nav .nav-item a {
  color: $dark;
  border-bottom: 3px solid white;
}

.navbar-light .navbar-nav .nav-item .active {
  border-bottom: 3px solid $primary;
  bottom: -5px;
}

.navbar-light .navbar-nav .nav-item a:hover {
  text-decoration:none;
  border-bottom: 3px solid $primary;
  bottom: -5px;
  transition: .2s ease-in;
}