@import "bootstrap-custom";

.snapshot {
  // box-shadow: 8px 12px 24px 10px #CBD2D9;
  // box-shadow: 0 0 24px 10px #CBD2D9;
  border: 3px solid $dark;
  background-image: radial-gradient(#55AAD4, #3994C1);
  // background-color: $primary;
  border-radius: 6.25rem;
}

.snapshot-figure {
  color: $light;
  font-size: 5rem;
  line-height: 4rem;
}

.snapshot-caption, .snapshot-embellishment {
  font-size: 1.25rem;
  color: $light;
}

 @media (max-width: 768px) {
  .snapshot { 
    .row {
      .space-between {
        margin: 1.5rem;
      }
    }
  }
}
