.social-share {
  .envelope {
    color: white;
  }  
}
.card-img-top {
  .fa-envelope {
    color: #2D82AE;
  }
}

.social-share {
  margin-bottom: 26px;
  margin-bottom:1.625rem
}

.social-share ul, .social-share li {
  margin: 0;
  padding: 0;
  list-style:none
}

.social-share li {
  display:inline-block
}

.social-share .facebook {
  color: white;
  background:#3b5998
}

.social-share .twitter {
  color: white;
  background: #55acee;
}

.social-share .email {
  color: white;
  background: grey
}

.social-share .linkedin {
  color: white;
  background:#4875b4
}

.social-share a {
  display: block;
  padding: 8px 20px;
  text-decoration: none !important;
  text-transform: uppercase;
  font-size: 14px;
  font-size: .875rem;
  font-family: pt sans narrow, sans-serif;
  font-weight: 700;
  color: #fff;
  opacity:.8
}

.social-share a:hover {
  color: #fff;
  opacity:1
}

.social-share span {
  display:none
}